@{
    ViewData["Title"] = "Main Menu";
}

<h2>MVC Text Based Survival Game</h2>
<p>Welcome to this Metal Gear Solid style text based survival adventure! Manage a group of survivors and help them survive the wilderness</p>
<p>List Of Survivors: </p>
