@{
    ViewData["Title"] = "Home";
}

<h1>MVC Text Based Survival Game</h1>
<p>Welcome to this Metal Gear Solid style text based survival adventure! Manage a group of survivors and help them survive the wilderness.</p>

<h2>Current Statistics</h2>
<p>Amount of Food Survivors Have: </p>
<p>Amount of Food Survivors Have: </p>
<p>Amount of Medicine Survivors Have: </p>
<p>Number of Survivors Still Alive: 5</p>
<p>How many days left until rescue: </p>

<p>If you want to edit the survivors in the game, click the Survivors link in the navigation bar.</p>
